body {
  margin: 20px;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #333;
  background-color: #EEE;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Custom styling */

h1, .strongText {
  color: #4444BB;
}

h3 {
  color: black;
}

.leaseLink {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.navBar {
  display: inline-block;
}


input {
  margin: 5px;
  background-color: lightblue;
  border: none;
  color: #333;
  padding: 7px;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
}

/* Formatting of tables */

table {
  border-collapse:collapse;
  margin: 20px auto;
  text-align: center;
  border: 1px solid #000;
}

th, td {
  padding: 5px;
  border: 1px solid #000;
}

th {
  background-color: #CCCCFF;
}

td {
  background-color: #DDEEFF;
}
